@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #A3E4D7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C2143;
    --foreground: #2ECC71;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  
}
